html {
    scroll-behavior: smooth;
  }

.nominee-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
}

.nom_card {
    height: 680px;
}

html {
    background-color: black;
}

.container-fluid, .card {
    background-color: black;
}

label, th, td, .card h5, .card p{
    color: white;
}

.display-4 {
    color: gold;
}

.stickyButton{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sidebar a {
    margin-bottom: 20px;
}

.sidebar i {
    padding-right: 8px;
}