<div class="col-lg-2 h-100 sidebar align-self-left">
        <a href="/get_ticket" role="button" class="btn btn-outline-light"><i class="far fa-smile"></i>Add Attendee</a>  
        <a href="/add_cat" role="button" class="btn btn-outline-light"><i class="fas fa-wrench"></i>Add Category</a>  
        <a href="/add_nominee" role="button" class="btn btn-outline-light"><i class="fas fa-tools"></i>Add Nominee</a>  
        <a href="/view_categories" role="button" class="btn btn-outline-light"><i class="far fa-eye"></i>View Categories</a>  
        <a href="/view_registered" role="button" class="btn btn-outline-light"><i class="fas fa-binoculars"></i>View Registered</a>  
        <a href="/logout" role="button" class="btn btn-outline-light"><i class="fas fa-power-off"></i>Logout</a>
    </div>