<div class="col-lg-2 h-100 sidebar align-self-left">
        <a href="/get_ticket" role="button" class="btn btn-outline-light">Add Attendee</a>  
        <a href="/add_cat" role="button" class="btn btn-outline-light">Add Category</a>  
        <a href="/add_nominee" role="button" class="btn btn-outline-light">Add Nominee</a>  
        <a href="/view_categories" role="button" class="btn btn-outline-light">View Categories</a>  
        <a href="/logout" role="button" class="btn btn-outline-light">Logout</a>
    </div>