<%- include("partials/header"); -%>

<button type="button" name="button">View Registered Users</button>
<button type="button" name="button">Manage Award Nominees</button>
<button type="button" name="button">Edit Event Information</button>
<%- include("partials/footer"); -%>
