<%- include("partials/header"); -%>
<form>
   <div class="form-group">
    <label for="ev_date">Event Date</label>
    <input type="date" class="form-control" id="ev_date">
  </div>

  <div class="form-group">
        <label for="ev_time">Event Time</label>
        <input type="time" class="form-control" id="ev_time">
      </div>

      <div class="form-group">
            <label for="ev_location">Event Location</label>
            <input type="text" class="form-control" id="ev_location">            
          </div>
          <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Show Location?</label>
              </div><br>
              <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Upload Header Logo</label>
                    <small class="form-text text-muted">For best experience, Logo should be at least x pixels wide and y pixels high</small>
                  </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <br>
                </div>
</form>
<%- include("partials/footer"); -%>