<%- include("partials/header"); -%>
<nav>
  <img src="" alt="Ubora Logo"/>
  <ul>
    <li>Award Information</li>
    <li>Ticketing</li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="jumbotron">
    <img src=""/>
  </div>
  <div class="">
    <button type="button" name="button">Award Information</button>
    <button type="button" name="button">Ticketing</button>
  </div>
</div>
<%- include("partials/footer"); -%>
