<%- include("partials/header"); -%>

<form action="/upload" method="POST">
    <div class="form-group">
            <label for="cat_image">Nominee Image</label>
            <input type="file" class="form-control-file" id="nom_image" id="nom_image">
    </div>
          <button type="submit">Submit</button>
</form>
<%- include("partials/footer"); -%>
